.nav {
  position: absolute;
  width: 1728px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: darkblue;
}

main {
  position: absolute;
  width: 1200px;
  height: 967px;
  left: 264px;
  top: 125px;
}

.crumb {
  position: absolute;
  width: 1200px;
  height: 75px;
  left: 264px;
  top: 125px;
  background: #fffffe;
  box-shadow: 30px 30px 70px rgba(0, 0, 0, 0.04),
    3.8px 3.8px 8.8px rgba(0, 0, 0, 0.02);
  border-radius: 20px;
}

.crumbcur {
  position: absolute;
  width: 102px;
  height: 75px;
  left: 289px;
  top: 125px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 21.33px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  color: #232946;
}

.crumbfront {
  position: absolute;
  width: 46.22px;
  height: 75px;
  left: 416px;
  top: 125px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 21.33px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(35, 41, 70, 0.8);
}

.crumbpic {
  display: inline-block;
  margin: auto 2vw;
  height: 7vh;
  z-index: 100;
  background: url(../img/right.png);
}

.crumbpos {
  position: absolute;
  width: 92px;
  height: 75px;
  left: 490px;
  top: 125px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 21.33px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: rgba(35, 41, 70, 0.8);
}

.maincontent {
  position: absolute;
  width: 1200px;
  height: 867px;
  left: 264px;
  top: 225px;
  background: #fffffe;
  box-shadow: 30px 30px 70px rgba(0, 0, 0, 0.04),
    3.8px 3.8px 8.8px rgba(0, 0, 0, 0.02);
  border-radius: 20px;
}
