::-webkit-scrollbar {
  /* 滚动条整体部分 */
  width: 0.3rem;
  margin-right: 2px;
}
::-webkit-scrollbar-button {
  /* 滚动条两端的按钮 */
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
  margin-bottom: 2px;
}
::-webkit-scrollbar-track {
  /* 外层轨道 */
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  /*内层轨道，滚动条中间部分 */
  background-color: #f4f6fa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  /* 滑块 */
  width: 10px;
  border-radius: 5px;
  background: #232946;
}
::-webkit-scrollbar-corner {
  /* 边角 */
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  /* 鼠标移入滑块 */
  background: #909090;
}

:root {
  font-size: 16px;
  --h1-font-size: 4.209em;
  --h2-font-size: 2.369em;
  --h3-font-size: 1.777em;
  --h4-font-size: 1.333em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* + * {
  box-sizing: inherit;
}

main {
  width: 1200px;
  margin: 0 auto;
}

/* Animation - slide from bottom to top */
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

