::-webkit-scrollbar {
  /* 滚动条整体部分 */
  width: 0.3rem;
  margin-right: 2px;
}
::-webkit-scrollbar-button {
  /* 滚动条两端的按钮 */
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
  margin-bottom: 2px;
}
::-webkit-scrollbar-track {
  /* 外层轨道 */
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  /*内层轨道，滚动条中间部分 */
  background-color: #f4f6fa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  /* 滑块 */
  width: 10px;
  border-radius: 5px;
  background: #232946;
}
::-webkit-scrollbar-corner {
  /* 边角 */
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
  /* 鼠标移入滑块 */
  background: #909090;
}