.faq {
  position: absolute;
  top: 75px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2f7fc;

  &__main {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 25px 0 0;
    flex-direction: column;
  }

  .question {
    width: 100%;
    position: relative;
    h1 {
      width: 90%;
      float: left;
      font-family: Arial;
      font-style: normal;
      font-weight: bold;
      font-size: 21.33px;
      line-height: 25px;
      align-items: center;
      letter-spacing: 0.1em;
      color: #232946;
    }
    img {
      float: none;
      width: 25px;
      line-height: 30px;
      margin-bottom: 30px;
      transform: rotate(90deg);
    }
    p {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.1em;
      color: rgba(35, 41, 70, 0.8);
    }
  }
}
