#first .phoneLogin {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#first .phoneLogin .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
#first .phoneLogin .bounce {
  position: absolute;
  width: 620px;
  height: 450px;
  left: 50%;
  margin-left: -310px;
  top: 140px;
  border-radius: 5px;
  background: #fffffe;
}
#first .phoneLogin .bounce .title {
  /* iNote Login */
  position: absolute;
  height: 57px;
  left: 70px;
  top: 40px;
  font-size: 40.52px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #232946;
}
#first .phoneLogin .bounce .login .prompt {
  /* 使用手机号登录时，如未注册则自动注册账号 */
  position: absolute;
  width: 667px;
  height: 50px;
  left: 110px;
  top: 260px;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #232946;
}
#first .phoneLogin .bounce .login .label {
  /* 手机号标签 */
  position: absolute;
  width: 100px;
  height: 64px;
  left: 70px;
  top: 117px;
  font-size: 24.43px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #232946;
}
#first .phoneLogin .bounce .login .code {
  top: 187px;
}
#first .phoneLogin .bounce .login input {
  /* 手机号输入框 */
  position: absolute;
  width: 358px;
  height: 44px;
  left: 184px;
  top: 127px;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #232946;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 26px;
  padding-left: 15px;
}
#first .phoneLogin .bounce .login .verifycode {
  top: 197px;
  width: 190px;
}
#first .phoneLogin .bounce .login .get {
  /* 组-获取验证码按钮 */
  position: absolute;
  width: 148px;
  height: 44px;
  left: 395px;
  top: 197px;
  background: #232946;
  border-radius: 10px;
  /* 按钮内容 */
  font-size: 18px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #B8C1EC;
}
#first .phoneLogin .bounce .login .get:hover {
  cursor: pointer;
}
#first .phoneLogin .bounce .login .submit {
  /* 组-登陆按钮 */
  position: absolute;
  width: 271px;
  height: 44px;
  left: 183px;
  top: 330px;
  background: #232946;
  border-radius: 10px;
  font-size: 22px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #B8C1EC;
}
#first .phoneLogin .bounce .login .other {
  /* 其他方式登陆？ */
  position: absolute;
  width: 667px;
  height: 50px;
  top: 394px;
  left: -12px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #232946;
}
#first .phoneLogin .bounce .login .other:hover {
  cursor: pointer;
}
#first .phoneLogin .bounce .otherLogin {
  display: none;
}
#first .phoneLogin .bounce .otherLogin .label {
  /* 手机号标签 */
  position: absolute;
  width: 100px;
  height: 64px;
  left: 70px;
  top: 117px;
  font-size: 24.43px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #232946;
}
#first .phoneLogin .bounce .otherLogin .code {
  top: 187px;
}
#first .phoneLogin .bounce .otherLogin .otherWe {
  top: 257px;
}
#first .phoneLogin .bounce .otherLogin input {
  /* 手机号输入框 */
  position: absolute;
  width: 358px;
  height: 44px;
  left: 184px;
  top: 127px;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #232946;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 26px;
  padding-left: 15px;
}
#first .phoneLogin .bounce .otherLogin .password {
  top: 197px;
}
#first .phoneLogin .bounce .otherLogin .submit {
  /* 组-登陆按钮 */
  position: absolute;
  width: 271px;
  height: 44px;
  left: 183px;
  top: 335px;
  background: #232946;
  border-radius: 10px;
  font-size: 22px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #B8C1EC;
}
#first .phoneLogin .bounce .otherLogin img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 265px;
  left: 190px;
}
#first .phoneLogin .bounce .otherLogin .other {
  /* 手机号登陆？ */
  position: absolute;
  width: 667px;
  height: 50px;
  top: 394px;
  left: -12px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #232946;
}
#first .phoneLogin .bounce .otherLogin .other:hover {
  cursor: pointer;
}
#first .phoneLogin .bounce .wechatLogin {
  display: none;
}
#first .phoneLogin .bounce .wechatLogin img {
  width: 185px;
  height: 185px;
  background: #c4c4c4;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -92.5px 0 0 -92.5px;
}
#first .phoneLogin .bounce .wechatLogin .prompt {
  /* 打开微信 -> 扫一扫 */
  position: absolute;
  top: 355px;
  left: 50%;
  margin-left: -85px;
  width: 300px;
  height: 29.86px;
  font-size: 20.33px;
  color: rgba(35, 41, 70, 0.6);
}
#first .phoneLogin .bounce .wechatLogin .other {
  position: absolute;
  width: 667px;
  height: 50px;
  top: 396px;
  left: -18px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #232946;
}
